JWT_SECRET_KEY=

LOCAL_NODE_PORT=
DOCKER_NODE_PORT=

LOCAL_DB_PORT=

DB_PORT=

DB_NAME=
DB_HOST= # Quando rodando via docker-compose, use DB_HOST=db (o nome do serviço). Quando for conectar a um Postgres local, use localhost.
DB_USERNAME=
DB_PASSWORD=
DIALECT=

CORS_ORIGIN=
